@model AirportSystem.Models.Airplane

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Airplane</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Length)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Length)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AirplaneTypes.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AirplaneTypes.Type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RegNumber }) |
    @Html.ActionLink("Back to List", "Index")
</p>
