@model IEnumerable<AirportSystem.Models.Schedule>

@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
	@Html.Partial("_AddSchedule", new AirportSystem.Models.Schedule())
</p>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.ETA)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.ETD)
		</th>
		<th>
			From
		</th>
		<th>
			To
		</th>
		<th>
			Plane
		</th>
		<th>
			Pilot
		</th>
		<th>
			Co Pilot
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.ETA)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ETD)
			</td>
			<td>
				@Html.ActionLink(item.From.Name, "Details", "Airports", new { id = item.From.Id }, null)
			</td>
			<td>
				@Html.ActionLink(item.To.Name, "Details", "Airports", new { id = item.To.Id }, null)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Airplane.RegNumber)
			</td>
			<td>
				@Html.ActionLink(item.PilotSet.FullName, "Details", "Pilots", new { id = item.PilotId }, null)
			</td>
			<td>
				@* CoPilot is nullable *@
				@if (item.PilotSet1 != null) {
					@Html.ActionLink(item.PilotSet1.FullName, "Details", "Pilots", new { id = item.PilotIdCo }, null)
				}
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.FlightNumber }) |
				@Html.ActionLink("Details", "Details", new { id = item.FlightNumber }) |
				@Html.ActionLink("Delete", "Delete", new { id = item.FlightNumber })
			</td>
		</tr>
	}

</table>
